* {
    font-family: 'Poppins', sans-serif;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
body{
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    color: var(--font-color);
}
:root {
    --primary-color: #0b3d91;
    --secondary-color: #fc3d21;
    --font-color: #555;
    --bg-color: #fff;
    --heading-color: #02112a;
    --border-radius: 10px;
    --border-radius-full: 35px;
    --border-color: #ddd;
    --border-color-light: #ddd;
    --nav-color: #02112a;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: #f5f6f9;
    --layer: rgb(0 0 0 / 30%);
    --layer-1: rgb(0 0 0 / 75%);
    --bg-grey: #f5f6f9;
    --footer-bg: #010208;
    --card-bg: #fff;
    --photoboxPlaceholderRatio: 66.56%;
    --photoboxOverlayBackgroundColor: rgb(11 61 145 / 70%);
}
.navbar .navbar-brand {
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--nav-color);
    margin: 0;
}
.navbar-brand span {
    color: var(--primary-color);
}
.navbar-nav{
    margin-left: 5%;
}

.nav-link {
    font-size: 16px !important;
    font-weight: 400 !important;
    position: relative;
    text-transform: capitalize;
    color: var(--nav-color) !important;
}
/* .navbar-toggler{
    background-color: #0b3d91 !important;
    height: 34px;
    width: 34px;
} */
.navbar-toggler:focus{
    box-shadow: none !important;
}
/* .menu{
    font-size: 18px;
    color: #fff;
    
} */
 .navbar-toggler {
    background-color: #0b3d91 !important;
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    font-size: 25px;
    color: #fff;
    line-height: 1;
}

    header {
    background-color: var(--bg-color);
    padding: 0px;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: none;
}
.active{
        color: var(--secondary-color) !important;
}
.about:hover{
    color: var(--secondary-color) !important;
}
.services:hover{
    color: var(--secondary-color) !important;
}
.contact:hover{
    color: var(--secondary-color) !important;
}
.search-search {
    font-size: 18px;
    width: 44px;
    height: 44px;
    line-height: 45px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    color: var(--secondary-color);
    display: inline-block;
    border: none;
    background: var(--bg-grey);
    margin-top: 5%;
}
.search-search:hover{
             background-color: var(--secondary-color);
             color: #fff;
}
.btn-style {
    padding: 18px 36px !important;
    font-size: 16px !important;
    line-height: 16px !important;
    font-weight: 400 !important;
    border-radius: var(--border-radius) !important;
    text-transform: capitalize !important;
    transition: 0.3s ease-in !important;
}
.btn-primary {
    color: #fff !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.btn-primary:hover{
          color: #fff;
          background-color: #063fa1;
          border-color: #063fa1;
          box-shadow: 0 0 0 0.2rem rgb(6 63 161/ 25%);
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
.navbar-collapse {
    /* flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-radius: 8px; */
        float: left;
        text-align: center;
        width: 100%;
        background: var(--bg-color);
        padding: 20px;
        margin-top: 16px;
        border-radius: 4px;
        border: 1px solid var(--border-color-light);
    }
.nav-fixed {
    padding: 0px;
    background-color: var(--bg-color);
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
.navbar-nav{
   margin-left: 15% !important;
}
.btn-li{
             margin-left: 15%;
}
.search-overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    background: var(--bg-color);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}
.search-overlay:target {
    visibility: visible;
    opacity: 1;
}
.search-popup form input[type="search"]:focus{
           outline: none;
           box-shadow: none;
           border: 1px solid var(--primary-color);
}
.search-popup form button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    border: none;
    background: var(--primary-color);
    padding: 0 20px !important;
    border-radius: var(--border-radius);
    height: 55px;
}
.search-popup form button:hover{
           opacity: .8;
           box-shadow: none;
}
.search-popup{
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 40%;
    max-width: 600px;
}
.search-popup form {
    border-radius: var(--border-radius);
    background: var(--bg-light);
    max-width: 640px;
    padding: 40px 40px;
}
.search-popup form input {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: var(--font-color);
    height: 55px;
    padding: 0px 20px;
    width: 100%;
    border: 1px solid var(--bg-color);
    border-right: none;
    background: var(--bg-color);
    border-radius: var(--border-radius);
}
.search-popup .close {
    position: absolute;
    right: 0px;
    top: -100px;
    transition: all 200ms;
    font-size: 50px;
    text-decoration: none;
    color: var(--heading-color);
}
/* ------------------------------------------first-section ---------------------------------------*/
#main-section{
        margin-top: 90px;
    background-color: var(--bg-color);
    padding: 5em 0;
}
.title-subhny{
        font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    letter-spacing: .5px;
    color: #8c89a2;
}
.sect1-h3{
              font-size: 48px;
    line-height: 58px;
    font-weight: 400;
}
.sect1-h3-2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
}
.cursor{
      background-color: var(--heading-color);
      display: inline-block;
      margin-left: 0.3rem;
      width: 3px;
      animation: blink 1s infinite;
}
.span-for{
               font-weight: 600;
}
.sect1-p{
     font-size: 16px;
     line-height: 26px;
     color: var(--font-color);
}
.getstarted:hover{
        background-color: var(--primary-color) !important;
}
.carousel-item img{
        border-radius: 8px;
}
/* Common style for both buttons */
.carousel-control-prev,
.carousel-control-next {
    width: 45px !important;
    height: 45px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background: rgba(255, 255, 255, 0.21) !important;
    border-radius: 50% !important;
    opacity: 1 !important;
}
.carousel-control-next-icon {
      background-image: none !important;
}
.carousel-control-prev-icon {
      background-image: none !important;
}
.carousel-right-icon{
         font-size: 25px;
         margin-right: 20%;
}
.carousel-left-icon{
        font-size: 25px;
        margin-right: 20%;
}
/* Position left & right */
.carousel-control-prev {
    left: 15px !important;
}

.carousel-control-next {
    right: 15px !important;
}

/* Arrow icon style */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 18px !important;
    height: 18px !important;
}
/*---------------------------------------- 2nd Section -----------------------------------------------------------------*/
.sect2{
    background-color: var(--bg-grey);
}
.sect2-h3{
font-size: 48px;
    line-height: 58px;
    font-weight: 600;
}
.sect2-h6{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    letter-spacing: .5px;
    color: #8c89a2 !important;
}
.grid-block h4 {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 6px !important;
}
.grid-block span {
    font-size: 42px;
    color: var(--primary-color);
    opacity: 0.9;
    vertical-align: middle;
    line-height: 1em;
}
.grid-block p{
    font-size: 16px;
    line-height: 26px;
    color: var(--font-color);
}
.grid-block a {
    text-decoration: none;
    color: inherit;
}

.grid-block a:hover {
    text-decoration: none;
    color: inherit;
}
.sect2-icon1:hover{
         color: var(--secondary-color) !important;
}
.sect2-icon2{
       color: var(--secondary-color) !important;
}
.sect2-icon3:hover{
     color: var(--secondary-color) !important;
}
/*---------------------------------------- 3rd Section -----------------------------------------------------------------*/
.sect3{
    background: url(banner5.png) no-repeat center;
    display: grid;
    align-items: center;
    background-size: cover;
    z-index: 0;
    position: relative;
}
.sect-3h6{
        font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 28px;
    letter-spacing: .5px;
}
.sect3-circles{
    max-width: 600px;
    margin-left: auto;
    text-align: left;
}
.sect3-circles h6{
    color: #fff;
    opacity: 0.8;
}
.sect-3h3{
    font-size: 42px;
    line-height: 52px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}
.sect3-p{
    color: #fff;
    opacity: 0.8;
}
.progress-section {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  padding: 80px 0;
  text-align: center;
}

.progress-box h4 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.circle {
  position: relative;
  width: 140px;
  height: 140px;
}

.circle svg {
  width: 140px;
  height: 140px;
  transform: rotate(-90deg);
}

.circle svg circle {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
}

.circle svg circle:first-child {
  stroke: #fff;
}

.circle svg circle:last-child {
  stroke: #ff3b1f;
  stroke-dasharray: 377;
  stroke-dashoffset: calc(377 - (377 * var(--percent)) / 100);
  transition: stroke-dashoffset 1s ease;
}

.circle .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
 #movetop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 42px;
    height: 42px;
    background: var(--secondary-color);
    padding: 0;
    line-height: 36px;
    border-radius: var(--border-radius);
    transition: 0.3s ease-out;
 }
/*---------------------------------------- 4th Section -------------------------------------------------*/
.radius-image{
      border-radius: 10px;
}
.sect4-h4{
    color: var(--heading-color);
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
}
.sect4 p{
    font-size: 16px;
    line-height: 26px;
    color: var(--font-color);
}
.sect4 .photobox {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.sect4 .photobox {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.sect4 .photobox__previewbox {
    position: relative;
    display: block;
}

.sect4 .photobox__previewbox::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--photoboxOverlayBackgroundColor); 
    opacity: 0;
    transition: opacity 0.4s ease;
}

.sect4 .photobox__info-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.sect4 .photobox__info {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.4s ease;
}

.sect4 .photobox__info span {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.sect4 .photobox:hover .photobox__previewbox::after {
    opacity: 1;
}
.sect4 .photobox:hover .photobox__info {
    opacity: 1;
    transform: translateY(0);
}



/*---------------------------------- media query starts ----------------------------------------------------------------*/
@media (max-width:768px){
    #main-section {
    margin-top: 20px;
}
/*---------------------------------------- 1st Section -------------------------------------------------*/
.sect1-h3 {
    font-size: 32px;
    line-height: 34px;
}
.sect1-h3-2{
    font-size: 32px;
    line-height: 34px;
}
    .search-search{
        margin-top: 1%;
        margin-bottom: 10%;
    }
/*-----------------------------------------2nd Section--------------------------------------------------------*/
    .sect2-h3 {
    font-size: 28px;
    line-height: 50px;
}
    /*---------------------------------------- 3rd Section -------------------------------------------------*/
.sect-3h3 {
         font-size: 26px;
}
    .progress-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-items: center;
}

    .search-popup form {
        padding: 30px 20px; 
    }
    
    .search-popup form input {
        width: 100%;
        margin-bottom: 10px; 
    }

    .search-popup form button {
        width: 100% !important; 
        margin-top: 5% !important;
    }
    
    .search-popup .close {
        top: -60px; 
        right: 15px;
    }
.btn-style{
    padding: 15px 30px !important;
}

}